android/
build/
.gitignore
.dart_tool/package_config_subset
.dart_tool/package_config.json
.dart_tool/version
.dart_tool/dartpad/web_plugin_registrant.dart
.dart_tool/flutter_gen/pubspec.yaml
.dart_tool/flutter_gen/gen_l10n/app_localizations_en.dart
.dart_tool/flutter_gen/gen_l10n/app_localizations.dart
android/.gitignore
android/gradle.properties
android/settings.gradle
android/gradle/wrapper/gradle-wrapper.properties
.gitignore
build/.last_build_id
build/cache.dill.track.dill
build/23a568316c538947baab080ff306a3d3/_composite.stamp
build/23a568316c538947baab080ff306a3d3/gen_dart_plugin_registrant.stamp
build/23a568316c538947baab080ff306a3d3/gen_l10n_inputs_and_outputs.json
build/23a568316c538947baab080ff306a3d3/gen_localizations.d
build/23a568316c538947baab080ff306a3d3/gen_localizations.stamp
build/71565ef64526201c92e3acbbc968e0ed/.filecache
build/71565ef64526201c92e3acbbc968e0ed/gen_l10n_inputs_and_outputs.json
build/71565ef64526201c92e3acbbc968e0ed/gen_localizations.d
build/71565ef64526201c92e3acbbc968e0ed/gen_localizations.stamp
build/71565ef64526201c92e3acbbc968e0ed/outputs.json
build/flutter_assets/AssetManifest.bin
build/flutter_assets/AssetManifest.bin.json
build/flutter_assets/AssetManifest.json
build/flutter_assets/FontManifest.json
build/flutter_assets/NOTICES
build/flutter_assets/assets/fonts/Croogla4F.ttf
build/flutter_assets/assets/fonts/proximanova_black.ttf
build/flutter_assets/assets/fonts/proximanova_regular.ttf
build/flutter_assets/assets/images/flutter_logo.png
build/flutter_assets/assets/images/logo.png
build/flutter_assets/assets/images/2.0x/flutter_logo.png
build/flutter_assets/assets/images/3.0x/flutter_logo.png
build/flutter_assets/fonts/MaterialIcons-Regular.otf
build/flutter_assets/packages/country_flags/res/si/ac.si
build/flutter_assets/packages/country_flags/res/si/ad.si
build/flutter_assets/packages/country_flags/res/si/ae.si
build/flutter_assets/packages/country_flags/res/si/af.si
build/flutter_assets/packages/country_flags/res/si/ag.si
build/flutter_assets/packages/country_flags/res/si/ai.si
build/flutter_assets/packages/country_flags/res/si/al.si
build/flutter_assets/packages/country_flags/res/si/am.si
build/flutter_assets/packages/country_flags/res/si/ao.si
build/flutter_assets/packages/country_flags/res/si/aq.si
build/flutter_assets/packages/country_flags/res/si/ar.si
build/flutter_assets/packages/country_flags/res/si/as.si
build/flutter_assets/packages/country_flags/res/si/at.si
build/flutter_assets/packages/country_flags/res/si/au.si
build/flutter_assets/packages/country_flags/res/si/aw.si
build/flutter_assets/packages/country_flags/res/si/ax.si
build/flutter_assets/packages/country_flags/res/si/az.si
build/flutter_assets/packages/country_flags/res/si/ba.si
build/flutter_assets/packages/country_flags/res/si/bb.si
build/flutter_assets/packages/country_flags/res/si/bd.si
build/flutter_assets/packages/country_flags/res/si/be.si
build/flutter_assets/packages/country_flags/res/si/bf.si
build/flutter_assets/packages/country_flags/res/si/bg.si
build/flutter_assets/packages/country_flags/res/si/bh.si
build/flutter_assets/packages/country_flags/res/si/bi.si
build/flutter_assets/packages/country_flags/res/si/bj.si
build/flutter_assets/packages/country_flags/res/si/bl.si
build/flutter_assets/packages/country_flags/res/si/bm.si
build/flutter_assets/packages/country_flags/res/si/bn.si
build/flutter_assets/packages/country_flags/res/si/bo.si
build/flutter_assets/packages/country_flags/res/si/bq.si
build/flutter_assets/packages/country_flags/res/si/br.si
build/flutter_assets/packages/country_flags/res/si/bs.si
build/flutter_assets/packages/country_flags/res/si/bt.si
build/flutter_assets/packages/country_flags/res/si/bv.si
build/flutter_assets/packages/country_flags/res/si/bw.si
build/flutter_assets/packages/country_flags/res/si/by.si
build/flutter_assets/packages/country_flags/res/si/bz.si
build/flutter_assets/packages/country_flags/res/si/ca.si
build/flutter_assets/packages/country_flags/res/si/cc.si
build/flutter_assets/packages/country_flags/res/si/cd.si
build/flutter_assets/packages/country_flags/res/si/cefta.si
build/flutter_assets/packages/country_flags/res/si/cf.si
build/flutter_assets/packages/country_flags/res/si/cg.si
build/flutter_assets/packages/country_flags/res/si/ch.si
build/flutter_assets/packages/country_flags/res/si/ci.si
build/flutter_assets/packages/country_flags/res/si/ck.si
build/flutter_assets/packages/country_flags/res/si/cl.si
build/flutter_assets/packages/country_flags/res/si/cm.si
build/flutter_assets/packages/country_flags/res/si/cn.si
build/flutter_assets/packages/country_flags/res/si/co.si
build/flutter_assets/packages/country_flags/res/si/cp.si
build/flutter_assets/packages/country_flags/res/si/cr.si
build/flutter_assets/packages/country_flags/res/si/cu.si
build/flutter_assets/packages/country_flags/res/si/cv.si
build/flutter_assets/packages/country_flags/res/si/cw.si
build/flutter_assets/packages/country_flags/res/si/cx.si
build/flutter_assets/packages/country_flags/res/si/cy.si
build/flutter_assets/packages/country_flags/res/si/cz.si
build/flutter_assets/packages/country_flags/res/si/de.si
build/flutter_assets/packages/country_flags/res/si/dg.si
build/flutter_assets/packages/country_flags/res/si/dj.si
build/flutter_assets/packages/country_flags/res/si/dk.si
build/flutter_assets/packages/country_flags/res/si/dm.si
build/flutter_assets/packages/country_flags/res/si/do.si
build/flutter_assets/packages/country_flags/res/si/dz.si
build/flutter_assets/packages/country_flags/res/si/ea.si
build/flutter_assets/packages/country_flags/res/si/ec.si
build/flutter_assets/packages/country_flags/res/si/ee.si
build/flutter_assets/packages/country_flags/res/si/eg.si
build/flutter_assets/packages/country_flags/res/si/eh.si
build/flutter_assets/packages/country_flags/res/si/er.si
build/flutter_assets/packages/country_flags/res/si/es-ct.si
build/flutter_assets/packages/country_flags/res/si/es-ga.si
build/flutter_assets/packages/country_flags/res/si/es.si
build/flutter_assets/packages/country_flags/res/si/et.si
build/flutter_assets/packages/country_flags/res/si/eu.si
build/flutter_assets/packages/country_flags/res/si/fi.si
build/flutter_assets/packages/country_flags/res/si/fj.si
build/flutter_assets/packages/country_flags/res/si/fk.si
build/flutter_assets/packages/country_flags/res/si/fm.si
build/flutter_assets/packages/country_flags/res/si/fo.si
build/flutter_assets/packages/country_flags/res/si/fr.si
build/flutter_assets/packages/country_flags/res/si/ga.si
build/flutter_assets/packages/country_flags/res/si/gb-eng.si
build/flutter_assets/packages/country_flags/res/si/gb-nir.si
build/flutter_assets/packages/country_flags/res/si/gb-sct.si
build/flutter_assets/packages/country_flags/res/si/gb-wls.si
build/flutter_assets/packages/country_flags/res/si/gb.si
build/flutter_assets/packages/country_flags/res/si/gd.si
build/flutter_assets/packages/country_flags/res/si/ge.si
build/flutter_assets/packages/country_flags/res/si/gf.si
build/flutter_assets/packages/country_flags/res/si/gg.si
build/flutter_assets/packages/country_flags/res/si/gh.si
build/flutter_assets/packages/country_flags/res/si/gi.si
build/flutter_assets/packages/country_flags/res/si/gl.si
build/flutter_assets/packages/country_flags/res/si/gm.si
build/flutter_assets/packages/country_flags/res/si/gn.si
build/flutter_assets/packages/country_flags/res/si/gp.si
build/flutter_assets/packages/country_flags/res/si/gq.si
build/flutter_assets/packages/country_flags/res/si/gr.si
build/flutter_assets/packages/country_flags/res/si/gs.si
build/flutter_assets/packages/country_flags/res/si/gt.si
build/flutter_assets/packages/country_flags/res/si/gu.si
build/flutter_assets/packages/country_flags/res/si/gw.si
build/flutter_assets/packages/country_flags/res/si/gy.si
build/flutter_assets/packages/country_flags/res/si/hk.si
build/flutter_assets/packages/country_flags/res/si/hm.si
build/flutter_assets/packages/country_flags/res/si/hn.si
build/flutter_assets/packages/country_flags/res/si/hr.si
build/flutter_assets/packages/country_flags/res/si/ht.si
build/flutter_assets/packages/country_flags/res/si/hu.si
build/flutter_assets/packages/country_flags/res/si/ic.si
build/flutter_assets/packages/country_flags/res/si/id.si
build/flutter_assets/packages/country_flags/res/si/ie.si
build/flutter_assets/packages/country_flags/res/si/il.si
build/flutter_assets/packages/country_flags/res/si/im.si
build/flutter_assets/packages/country_flags/res/si/in.si
build/flutter_assets/packages/country_flags/res/si/io.si
build/flutter_assets/packages/country_flags/res/si/iq.si
build/flutter_assets/packages/country_flags/res/si/ir.si
build/flutter_assets/packages/country_flags/res/si/is.si
build/flutter_assets/packages/country_flags/res/si/it.si
build/flutter_assets/packages/country_flags/res/si/je.si
build/flutter_assets/packages/country_flags/res/si/jm.si
build/flutter_assets/packages/country_flags/res/si/jo.si
build/flutter_assets/packages/country_flags/res/si/jp.si
build/flutter_assets/packages/country_flags/res/si/ke.si
build/flutter_assets/packages/country_flags/res/si/kg.si
build/flutter_assets/packages/country_flags/res/si/kh.si
build/flutter_assets/packages/country_flags/res/si/ki.si
build/flutter_assets/packages/country_flags/res/si/km.si
build/flutter_assets/packages/country_flags/res/si/kn.si
build/flutter_assets/packages/country_flags/res/si/kp.si
build/flutter_assets/packages/country_flags/res/si/kr.si
build/flutter_assets/packages/country_flags/res/si/kw.si
build/flutter_assets/packages/country_flags/res/si/ky.si
build/flutter_assets/packages/country_flags/res/si/kz.si
build/flutter_assets/packages/country_flags/res/si/la.si
build/flutter_assets/packages/country_flags/res/si/lb.si
build/flutter_assets/packages/country_flags/res/si/lc.si
build/flutter_assets/packages/country_flags/res/si/li.si
build/flutter_assets/packages/country_flags/res/si/lk.si
build/flutter_assets/packages/country_flags/res/si/lr.si
build/flutter_assets/packages/country_flags/res/si/ls.si
build/flutter_assets/packages/country_flags/res/si/lt.si
build/flutter_assets/packages/country_flags/res/si/lu.si
build/flutter_assets/packages/country_flags/res/si/lv.si
build/flutter_assets/packages/country_flags/res/si/ly.si
build/flutter_assets/packages/country_flags/res/si/ma.si
build/flutter_assets/packages/country_flags/res/si/mc.si
build/flutter_assets/packages/country_flags/res/si/md.si
build/flutter_assets/packages/country_flags/res/si/me.si
build/flutter_assets/packages/country_flags/res/si/mf.si
build/flutter_assets/packages/country_flags/res/si/mg.si
build/flutter_assets/packages/country_flags/res/si/mh.si
build/flutter_assets/packages/country_flags/res/si/mk.si
build/flutter_assets/packages/country_flags/res/si/ml.si
build/flutter_assets/packages/country_flags/res/si/mm.si
build/flutter_assets/packages/country_flags/res/si/mn.si
build/flutter_assets/packages/country_flags/res/si/mo.si
build/flutter_assets/packages/country_flags/res/si/mp.si
build/flutter_assets/packages/country_flags/res/si/mq.si
build/flutter_assets/packages/country_flags/res/si/mr.si
build/flutter_assets/packages/country_flags/res/si/ms.si
build/flutter_assets/packages/country_flags/res/si/mt.si
build/flutter_assets/packages/country_flags/res/si/mu.si
build/flutter_assets/packages/country_flags/res/si/mv.si
build/flutter_assets/packages/country_flags/res/si/mw.si
build/flutter_assets/packages/country_flags/res/si/mx.si
build/flutter_assets/packages/country_flags/res/si/my.si
build/flutter_assets/packages/country_flags/res/si/mz.si
build/flutter_assets/packages/country_flags/res/si/na.si
build/flutter_assets/packages/country_flags/res/si/nc.si
build/flutter_assets/packages/country_flags/res/si/ne.si
build/flutter_assets/packages/country_flags/res/si/nf.si
build/flutter_assets/packages/country_flags/res/si/ng.si
build/flutter_assets/packages/country_flags/res/si/ni.si
build/flutter_assets/packages/country_flags/res/si/nl.si
build/flutter_assets/packages/country_flags/res/si/no.si
build/flutter_assets/packages/country_flags/res/si/np.si
build/flutter_assets/packages/country_flags/res/si/nr.si
build/flutter_assets/packages/country_flags/res/si/nu.si
build/flutter_assets/packages/country_flags/res/si/nz.si
build/flutter_assets/packages/country_flags/res/si/om.si
build/flutter_assets/packages/country_flags/res/si/pa.si
build/flutter_assets/packages/country_flags/res/si/pe.si
build/flutter_assets/packages/country_flags/res/si/pf.si
build/flutter_assets/packages/country_flags/res/si/pg.si
build/flutter_assets/packages/country_flags/res/si/ph.si
build/flutter_assets/packages/country_flags/res/si/pk.si
build/flutter_assets/packages/country_flags/res/si/pl.si
build/flutter_assets/packages/country_flags/res/si/pm.si
build/flutter_assets/packages/country_flags/res/si/pn.si
build/flutter_assets/packages/country_flags/res/si/pr.si
build/flutter_assets/packages/country_flags/res/si/ps.si
build/flutter_assets/packages/country_flags/res/si/pt.si
build/flutter_assets/packages/country_flags/res/si/pw.si
build/flutter_assets/packages/country_flags/res/si/py.si
build/flutter_assets/packages/country_flags/res/si/qa.si
build/flutter_assets/packages/country_flags/res/si/re.si
build/flutter_assets/packages/country_flags/res/si/ro.si
build/flutter_assets/packages/country_flags/res/si/rs.si
build/flutter_assets/packages/country_flags/res/si/ru.si
build/flutter_assets/packages/country_flags/res/si/rw.si
build/flutter_assets/packages/country_flags/res/si/sa.si
build/flutter_assets/packages/country_flags/res/si/sb.si
build/flutter_assets/packages/country_flags/res/si/sc.si
build/flutter_assets/packages/country_flags/res/si/sd.si
build/flutter_assets/packages/country_flags/res/si/se.si
build/flutter_assets/packages/country_flags/res/si/sg.si
build/flutter_assets/packages/country_flags/res/si/sh.si
build/flutter_assets/packages/country_flags/res/si/si.si
build/flutter_assets/packages/country_flags/res/si/sj.si
build/flutter_assets/packages/country_flags/res/si/sk.si
build/flutter_assets/packages/country_flags/res/si/sl.si
build/flutter_assets/packages/country_flags/res/si/sm.si
build/flutter_assets/packages/country_flags/res/si/sn.si
build/flutter_assets/packages/country_flags/res/si/so.si
build/flutter_assets/packages/country_flags/res/si/sr.si
build/flutter_assets/packages/country_flags/res/si/ss.si
build/flutter_assets/packages/country_flags/res/si/st.si
build/flutter_assets/packages/country_flags/res/si/sv.si
build/flutter_assets/packages/country_flags/res/si/sx.si
build/flutter_assets/packages/country_flags/res/si/sy.si
build/flutter_assets/packages/country_flags/res/si/sz.si
build/flutter_assets/packages/country_flags/res/si/ta.si
build/flutter_assets/packages/country_flags/res/si/tc.si
build/flutter_assets/packages/country_flags/res/si/td.si
build/flutter_assets/packages/country_flags/res/si/tf.si
build/flutter_assets/packages/country_flags/res/si/tg.si
build/flutter_assets/packages/country_flags/res/si/th.si
build/flutter_assets/packages/country_flags/res/si/tj.si
build/flutter_assets/packages/country_flags/res/si/tk.si
build/flutter_assets/packages/country_flags/res/si/tl.si
build/flutter_assets/packages/country_flags/res/si/tm.si
build/flutter_assets/packages/country_flags/res/si/tn.si
build/flutter_assets/packages/country_flags/res/si/to.si
build/flutter_assets/packages/country_flags/res/si/tr.si
build/flutter_assets/packages/country_flags/res/si/tt.si
build/flutter_assets/packages/country_flags/res/si/tv.si
build/flutter_assets/packages/country_flags/res/si/tw.si
build/flutter_assets/packages/country_flags/res/si/tz.si
build/flutter_assets/packages/country_flags/res/si/ua.si
build/flutter_assets/packages/country_flags/res/si/ug.si
build/flutter_assets/packages/country_flags/res/si/um.si
build/flutter_assets/packages/country_flags/res/si/un.si
build/flutter_assets/packages/country_flags/res/si/us.si
build/flutter_assets/packages/country_flags/res/si/uy.si
build/flutter_assets/packages/country_flags/res/si/uz.si
build/flutter_assets/packages/country_flags/res/si/va.si
build/flutter_assets/packages/country_flags/res/si/vc.si
build/flutter_assets/packages/country_flags/res/si/ve.si
build/flutter_assets/packages/country_flags/res/si/vg.si
build/flutter_assets/packages/country_flags/res/si/vi.si
build/flutter_assets/packages/country_flags/res/si/vn.si
build/flutter_assets/packages/country_flags/res/si/vu.si
build/flutter_assets/packages/country_flags/res/si/wf.si
build/flutter_assets/packages/country_flags/res/si/ws.si
build/flutter_assets/packages/country_flags/res/si/xk.si
build/flutter_assets/packages/country_flags/res/si/xx.si
build/flutter_assets/packages/country_flags/res/si/ye.si
build/flutter_assets/packages/country_flags/res/si/yt.si
build/flutter_assets/packages/country_flags/res/si/za.si
build/flutter_assets/packages/country_flags/res/si/zm.si
build/flutter_assets/packages/country_flags/res/si/zw.si
build/flutter_assets/packages/lucide_icons/assets/lucide.ttf
build/flutter_assets/shaders/ink_sparkle.frag
linux/.gitignore
linux/flutter/ephemeral/.plugin_symlinks/path_provider_linux
macos/.gitignore
macos/Flutter/ephemeral/flutter_export_environment.sh
macos/Flutter/ephemeral/Flutter-Generated.xcconfig
.gitignore
.flutter-plugins
.flutter-plugins-dependencies
linux/.gitignore
lib.old/chatscreen_web.dart.old
lib.old/chatscreen.dart
lib.old/deviceinfo.dart.old
lib.old/Home.dart
lib.old/Home.dart.old
lib.old/Login.dart.old
lib.old/main.dart.old
lib.old/native_socket.dart
lib.old/providers.dart
lib.old/services.dart
lib.old/signup.dart
lib.old/web_socket.dart
lib.old/src/app.dart.old
lib.old/src/localization/app_en.arb
lib.old/src/sample_feature/sample_item_details_view.dart
lib.old/src/sample_feature/sample_item_list_view.dart
lib.old/src/sample_feature/sample_item.dart
lib.old/src/settings/settings_controller.dart
lib.old/src/settings/settings_service.dart
lib.old/src/settings/settings_view.dart
.gitignore
ios/.gitignore
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
build/.last_build_id
android/.gitignore
android/gradle.properties
android/settings.gradle
android/gradle/wrapper/gradle-wrapper.properties
